/*Extra Small Devices*/ 
/*xsm (320-480)*/ 

@media only screen and (min-width: 320px) and (max-width: 480px)  {
    .navbar-nav {
            padding: 10px 0px;
        }
        .nav-item {
            text-align: center;
            background-color: transparent;
            padding: 2px 0px;
        }
    
        
        
        
        
        }
        
    /*Small Devices*/ 
    /*sm (481-767)*/ 
        
    @media only screen and (min-width: 481px) and (max-width: 767px)  {
        
        
    }
        
        
    /*Medium Devices*/ 
    /*md (768-991)*/ 
    @media only screen and (min-width: 768px) and (max-width: 991px)  {
    
        
    }
        
        
    /*large Devices*/ 
    /*lg (992-1199)*/ 
    @media only screen and (min-width: 992px) and (max-width: 1199px)  {
           
        
        
        
    }
        
        
    /*Extra large Devices*/ 
    /*xlg (1200-1400)*/ 
    @media only screen and (min-width: 1200px) and (max-width: 1400px)  {
        
        
        
        
        
        
        
        
    }